<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre producto</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Fecha de ingreso</th>
        <th scope="col">Usuario que registro</th>
        <th scope="col">Cargo</th>
        <th scope="col">Usuario que actualizo</th>
        <th scope="col">Cargo</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pr of listProducts">
        <td scope="row">{{pr.nombreProducto}}</td>
        <td scope="row">{{pr.descripcionProducto}}</td>
        <td scope="row">{{pr.cantidad}}</td>
        <td scope="row">{{pr.fechaDeIngreso}}</td>
        <td scope="row">{{pr.usuario.nombre}}</td>
        <td scope="row">{{pr.usuario.cargo.descripcion}}</td>
        <td scope="row"></td>
        <td scope="row"></td>
        <td><button type="button"  class="btn btn-primary btn-sm" [routerLink]="['/productos/update']">Crear
            producto</button></td>
      </tr>
    </tbody>
  </table>
</div>