
<div class="container">
    <form>
        <div class="form-group">
            <label for="nombreProducto">Nombre del producto</label>
            <input [(ngModel)]="product.nombreProducto" name="nombreProducto" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="nombreProducto" aria-describedby="emailHelp">
            
        </div>
        <div class="form-group">
            <label for="descripcionProducto">Descripcion</label>
            <input [(ngModel)]="product.descripcionProducto" name="descripcionProducto"  [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="descripcionProducto" >
        </div>
        <div class="form-group">
            <label for="cantidad">Cantidad</label>
            <input [(ngModel)]="product.cantidad" name="cantidad" [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="cantidad">
        </div>
        <div class="form-group" >
            <label class="form-check-label"  for="exampleCheck1">Usuario</label>
            <select class="custom-select" [(ngModel)]="product.idUsuario"  [ngModelOptions]="{standalone: true}">
                <option *ngFor="let user of users" [value]="user.id" >{{user.nombre}}</option>
            </select>
        </div>
        <button role="button" class="btn btn-primary" (click)='createProduct()'>Registrar</button>
    </form>
    
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>